<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>
    <link rel="stylesheet" href="../static/dashcss/all.min.css" />
    <link rel="stylesheet" href="../static/dashcss/framework.css" />
    <link rel="stylesheet" href="../static/dashcss/master.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="page d-flex">
         <div class="sidebar bg-white p-20 p-relative">
        <h3 class="p-relative txt-c mt-0">Name</h3>
        <ul>
          <li>
            <a class=" d-flex align-center fs-14 c-black rad-6 p-10" href="/dash">
              <i class="fa-regular fa-chart-bar fa-fw"></i>
              <span>لوحة التحكم</span>
            </a>
          </li>
            <li>
            <a class="active d-flex align-center fs-14 c-black rad-6 p-10" href="/all_courses">
              <i class="fa-solid fa-graduation-cap fa-fw"></i>
              <span>كل الكورسات</span>
            </a>
          </li>

          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/profile">
              <i class="fa-regular fa-user fa-fw"></i>
              <span>ملفك الشخصي</span>
            </a>
          </li>
          <li>
             <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/setting">
              <i class="fa-solid fa-gear fa-fw"></i>
              <span>الاعدادات</span>
            </a>
          </li>


<!--          <li>-->
<!--            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="courses.html">-->
<!--              <i class="fa-solid fa-graduation-cap fa-fw"></i>-->
<!--              <span>Courses</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="friends.html">-->
<!--              <i class="fa-regular fa-circle-user fa-fw"></i>-->
<!--              <span>Friends</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="files.html">-->
<!--              <i class="fa-regular fa-file fa-fw"></i>-->
<!--              <span>Files</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="plans.html">-->
<!--              <i class="fa-regular fa-credit-card fa-fw"></i>-->
<!--              <span>Plans</span>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
      </div>
      <div class="content w-full">
        <!-- Start Head -->
        <div class="head bg-white p-15 between-flex">
          <div class="search p-relative">
                  <input type="text" id="teacherInput" list="teachers" placeholder="Search for a teacher..." style="margin-bottom: 10px; padding: 8px; border: 2px solid #235391; border-radius: 5px; background-color: #fff; color: #333; font-size: 16px;">
<datalist id="teachers">
    <option value="Teacher 1">
    <option value="Teacher 2">
    <option value="Teacher 3">
</datalist>
        <select style="margin-bottom: 10px; padding: 8px; border: 2px solid #235391; border-radius: 5px; background-color: #fff; color: #333; font-size: 16px;">
            <option value="year1">الصف الاول الثانوي </option>
            <option value="year2">الصف الثاني الثانوي</option>
            <option value="year3">الصف الثالث الثانوي </option>
        </select>

        <select style="margin-bottom: 10px; padding: 8px; border: 2px solid #235391; border-radius: 5px; background-color: #fff; color: #333; font-size: 16px; ">
            <option value="section1">الفصل الدراسي الاول </option>
            <option value="section2">الفصل الدراسي الثاني</option>
        </select>
        <select style="margin-bottom: 10px; padding: 8px; border: 2px solid #235391; border-radius: 5px; background-color: #fff; color: #333; font-size: 16px;">
            <option value="math">الرياضيات</option>
            <option value="arabic">اللغة العربية</option>
            <option value="english">اللغة الانجليزية</option>
        </select>
          </div>
          <div class="icons d-flex align-center">
            <span class="notification p-relative">
              <i class="fa-regular fa-bell fa-lg"></i>
            </span>
            <img src="../static/dashimgs/avatar.png" alt="" />
          </div>
        </div>
        <!-- End Head -->
        <h1 class="p-relative">ك الكورسات</h1>
        <div class="courses-page d-grid m-20 gap-20">
          <div class="course bg-white rad-6 p-relative">
            <img class="cover" src="../static/dashimgs/course-01.jpg" alt="" />
            <img class="instructor" src="../static/dashimgs/team-01.png" alt="" />
            <div class="p-20">
              <h4 class="m-0">مادة الفيزياء </h4>
              <p class="description c-grey mt-15 fs-14">
                الكورس ده جامد جدا
              </p>
            </div>
            <div class="info p-15 p-relative between-flex">
              <span class="title bg-blue c-white btn-shape">اذهب الي الكورس</span>
              <span class="c-grey">
                <i class="fa-regular fa-user"></i>
                950
              </span>
              <span class="c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
             10
              </span>
            </div>
          </div>
          <div class="course bg-white rad-6 p-relative">
            <img class="cover" src="../static/dashimgs/course-02.jpg" alt="" />
            <img class="instructor" src="../static/dashimgs/team-02.png" alt="" />
            <div class="p-20">
              <h4 class="m-0">مادة الفيزياء </h4>
              <p class="description c-grey mt-15 fs-14">
                الكورس ده جامد جدا
              </p>
            </div>
            <div class="info p-15 p-relative between-flex">
              <span class="title bg-blue c-white btn-shape">اذهب الي الكورس</span>
              <span class="c-grey">
                <i class="fa-regular fa-user"></i>
                950
              </span>
              <span class="c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
             10
              </span>
            </div>
          </div>
          <div class="course bg-white rad-6 p-relative">
            <img class="cover" src="../static/dashimgs/course-03.jpg" alt="" />
            <img class="instructor" src="../static/dashimgs/team-01.png" alt="" />
            <div class="p-20">
               <h4 class="m-0">مادة الفيزياء </h4>
              <p class="description c-grey mt-15 fs-14">
                الكورس ده جامد جدا
              </p>
            </div>
            <div class="info p-15 p-relative between-flex">
              <span class="title bg-blue c-white btn-shape">اذهب الي الكورس</span>
              <span class="c-grey">
                <i class="fa-regular fa-user"></i>
                950
              </span>
              <span class="c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
             10
              </span>
            </div>
          </div>
          <div class="course bg-white rad-6 p-relative">
            <img class="cover" src="../static/dashimgs/course-04.jpg" alt="" />
            <img class="instructor" src="../static/dashimgs/team-03.png" alt="" />
            <div class="p-20">
              <h4 class="m-0">مادة الفيزياء </h4>
              <p class="description c-grey mt-15 fs-14">
                الكورس ده جامد جدا
              </p>
            </div>
            <div class="info p-15 p-relative between-flex">
              <span class="title bg-blue c-white btn-shape">اذهب الي الكورس</span>
              <span class="c-grey">
                <i class="fa-regular fa-user"></i>
                950
              </span>
              <span class="c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
             10
              </span>
            </div>
          </div>
          <div class="course bg-white rad-6 p-relative">
            <img class="cover" src="../static/dashimgs/course-05.jpg" alt="" />
            <img class="instructor" src="../static/dashimgs/team-03.png" alt="" />
            <div class="p-20">
           <h4 class="m-0">مادة الفيزياء </h4>
              <p class="description c-grey mt-15 fs-14">
                الكورس ده جامد جدا
              </p>
            </div>
            <div class="info p-15 p-relative between-flex">
              <span class="title bg-blue c-white btn-shape">اذهب الي الكورس</span>
              <span class="c-grey">
                <i class="fa-regular fa-user"></i>
                950
              </span>
              <span class="c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
             10
              </span>
            </div>
          </div>
          <div class="course bg-white rad-6 p-relative">
            <img class="cover" src="../static/dashimgs/course-02.jpg" alt="" />
            <img class="instructor" src="../static/dashimgs/team-02.png" alt="" />
            <div class="p-20">
   <h4 class="m-0">مادة الفيزياء </h4>
              <p class="description c-grey mt-15 fs-14">
                الكورس ده جامد جدا
              </p>
            </div>
            <div class="info p-15 p-relative between-flex">
              <span class="title bg-blue c-white btn-shape">اذهب الي الكورس</span>
              <span class="c-grey">
                <i class="fa-regular fa-user"></i>
                950
              </span>
              <span class="c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
             10
              </span>
            </div>
          </div>
          <div class="course bg-white rad-6 p-relative">
            <img class="cover" src="../static/dashimgs/course-03.jpg" alt="" />
            <img class="instructor" src="../static/dashimgs/team-01.png" alt="" />
            <div class="p-20">
   <h4 class="m-0">مادة الفيزياء </h4>
              <p class="description c-grey mt-15 fs-14">
                الكورس ده جامد جدا
              </p>
            </div>
            <div class="info p-15 p-relative between-flex">
              <span class="title bg-blue c-white btn-shape">اذهب الي الكورس</span>
              <span class="c-grey">
                <i class="fa-regular fa-user"></i>
                950
              </span>
              <span class="c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
             10
              </span>
            </div>
          </div>
          <div class="course bg-white rad-6 p-relative">
            <img class="cover" src="../static/dashimgs/course-01.jpg" alt="" />
            <img class="instructor" src="../static/dashimgs/team-01.png" alt="" />
            <div class="p-20">
   <h4 class="m-0">مادة الفيزياء </h4>
              <p class="description c-grey mt-15 fs-14">
                الكورس ده جامد جدا
              </p>
            </div>
            <div class="info p-15 p-relative between-flex">
              <span class="title bg-blue c-white btn-shape">اذهب الي الكورس</span>
              <span class="c-grey">
                <i class="fa-regular fa-user"></i>
                950
              </span>
              <span class="c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
             10
              </span>
            </div>
          </div>
          <div class="course bg-white rad-6 p-relative">
            <img class="cover" src="../static/dashimgs/course-05.jpg" alt="" />
            <img class="instructor" src="../static/dashimgs/team-03.png" alt="" />
            <div class="p-20">
    <h4 class="m-0">مادة الفيزياء </h4>
              <p class="description c-grey mt-15 fs-14">
                الكورس ده جامد جدا
              </p>
            </div>
            <div class="info p-15 p-relative between-flex">
              <span class="title bg-blue c-white btn-shape">اذهب الي الكورس</span>
              <span class="c-grey">
                <i class="fa-regular fa-user"></i>
                950
              </span>
              <span class="c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
             10
              </span>
            </div>
          </div>
          <div class="course bg-white rad-6 p-relative">
            <img class="cover" src="../static/dashimgs/course-04.jpg" alt="" />
            <img class="instructor" src="../static/dashimgs/team-03.png" alt="" />
            <div class="p-20">
               <h4 class="m-0">مادة الفيزياء </h4>
              <p class="description c-grey mt-15 fs-14">
                الكورس ده جامد جدا
              </p>
            </div>
            <div class="info p-15 p-relative between-flex">
              <span class="title bg-blue c-white btn-shape">اذهب الي الكورس</span>
              <span class="c-grey">
                <i class="fa-regular fa-user"></i>
                950
              </span>
              <span class="c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
             10
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
